@model DesignPattern.CQRS.CQRSPattern.Results.GetProductByIdQueryResult;

@{
    Layout = null;
}

<header>
    <style>
        body {
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        h2 {
            margin-bottom: 20px;
        }

        form {
            width: 500px;
            background-color: #222;
            padding: 20px;
            border-radius: 10px;
        }

        label {
            font-size: 18px;
            font-weight: 500;
            display: block;
            margin: 10px 0 5px;
        }

        input {
            background-color: cornflowerblue;
            border: 2px solid green;
            color: black;
            outline: none;
            border-radius: 5px;
            width: 100%;
            padding: 8px;
            font-size: 16px;
        }

        button {
            background-color: green;
            color: white;
            padding: 10px;
            margin-top: 15px;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            border: none;
            transition: 0.3s;
        }

    </style>
</header>

<div class="container">

    <form asp-action="UpdateProduct" method="post">

        <label>Id</label>
        <input type="text" asp-for="ProductId" />

        <label>Ürün Adı</label>
        <input type="text" asp-for="Name" />

        <label>Ürün Açıklaması</label>
        <input type="text" asp-for="Description">

        <label>Ürün Fiyatı</label>
        <input type="text" asp-for="Price" />

        <label>Stok</label>
        <input type="text" asp-for="Stock" /> 

        <button type="submit">Güncelle</button>
    </form>
</div>
